<main id="cont-forms-controllers">
  <section class="cont">
    <%= form_for(@publication) do |f| %>
      <% if @publication.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

          <ul>
          <% @publication.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="cont_fields">
        <%= f.label :title, "Titulo de la publicacion." %><br>
        <%= f.text_field :title, :required => true%>
      </div>
      <div class="cont_fields">
        <%= f.label :day_pickup, "Dia de recoleccion." %><br>
        <%= f.text_field :day_pickup, :id => "datepick", :required => true%>
      </div>
      <div class="cont_fields">
        <%= f.label :time_pickup, "Hora de recoleccion." %><br>
        <%= f.text_field :time_pickup, :required => true%>
      </div>
      <div class="cont_fields">
        <%= f.label :day_delivery, "Dia de entrega." %><br>
        <%= f.text_field :day_delivery, :id => "datedeliv", :required => true%>
      </div>
      <div class="cont_fields">
        <%= f.label :time_delivery, "Hora de entrega." %><br>
        <%= f.text_field :time_delivery, :required => true%>
      </div>
      <div class="cont_fields">
        <%= f.label :origin, "Ciudad de recoleccion." %><br>
        <%= f.text_field :origin, :required => true%>
      </div>
      <div class="cont_fields">
        <%= f.label :destiny, "Ciudad de entrega." %><br>
        <%= f.text_field :destiny, :required => true%>
      </div>
      <div class="cont_fields">
        <%= f.label :description, "Descripcion del transporte (Favor de especificar todo en este campo)." %><br>
        <%= f.text_area :description, :required => true%>
      </div>
      <div class="cont_fields">
        <%= f.label :estimated_price, "Cuanto estas dispuesto a pagar" %><br>
        <%= f.text_field :estimated_price, :required => true%>
      </div>

        <%= f.hidden_field :status, :value => "on" %>
        <%= f.hidden_field :user_id%>
       <%= f.submit "Guardar", :class => "submit-log-in-user" %>
    <% end %>