<p id="notice"><%= notice %></p>

<h1>Listing Publications</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Day pickup</th>
      <th>Time pickup</th>
      <th>Day delivery</th>
      <th>Time delivery</th>
      <th>Description</th>
      <th>Estimated price</th>
      <th>Final price</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.title %></td>
        <td><%= publication.day_pickup %></td>
        <td><%= publication.time_pickup %></td>
        <td><%= publication.day_delivery %></td>
        <td><%= publication.time_delivery %></td>
        <td><%= publication.description %></td>
        <td><%= publication.estimated_price %></td>
        <td><%= publication.final_price %></td>
        <td><%= publication.status %></td>
        <td><%= link_to 'Show', publication %></td>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path %>
