<p id="notice"><%= notice %></p>
<main id="publications-cont">
  <section class="cont">
    <h1 class="title-publications">Fuiste seleccionado en los siguientes viajes</h1>

    <%if defined? current_user.role %>
        <% if current_user.role == "transportista" || current_user.role == "etransportista" && current_user.update_profile == "1" %>
        <% current_user.publications.each do |publication| %>
          <article class="publication">
            <% if publication.status == "1"%>
              <span class="ion-android-checkbox activate-publication"> Activada</span>
            <% else %>
              <span class="ion-android-cancel desactivate-publication"> Concluida</span>
            <% end %>

            <h1><%= publication.title %></h1>
            <div>
              <h2>Recoleccion</h2>
              <p><%= publication.day_pickup %> a las <%= publication.time_pickup %></p>
            </div>
            <div>
              <h2>Entrega</h2>
              <p><%= publication.day_delivery %> a las <%= publication.time_delivery %></p>
            </div>
            <div>
              <h2>Dispuesto a pagar</h2>
              <h3>$<%= publication.final_price %></h3>
            </div>
            <div class="conform">
            <% Competitor.all.each do |competitor| %>
              <% if competitor.publications_id == publication.id && competitor.users_id == current_user.id %>
                <% @register = "yes" %>
              <% end %>
            <% end %>
              <% if @register == "yes" %>
                <h1>Ya estas participando</h1>
              <% else %>
                <h1>¿Deseas Participar?</h1>
                <%= form_for(@competitor) do |f| %>
                  <div class="content-tags">
                    <h2>¿Estas de acuerdo con el precio estipulado?</h2>
                    <p>
                      <%= f.radio_button :conform, 'Si', :checked => true, :class => "yesconform" %>
                      <%= label_tag(:conform, "De Acuerdo") %>
                      <%= f.radio_button :conform, 'No', :class => "noconform" %>
                      <%= label_tag(:conform, "Inconforme") %>
                    </p>
                    <h2 class="form-ocult">¿Cual es el costo por el cual realizarias el viaje?</h2>
                    <p class="form-ocult">
                      <%= f.number_field :price, :placeholder => "Costo de tu servicio", :value => publication.final_price, :required => true, :class => "thevalue" %>
                    </p>
                    
                    <%= f.hidden_field :users_id, :value => current_user.id %>
                    <%= f.hidden_field :publications_id, :value => publication.id %>
                    <%= f.submit "Participar" %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <%= link_to 'Ver más', publication, :class => "link_go" %>
          </article>
          <% end %>
        <% else %>
      <h2>No has sido seleccionado aun o no haz completado tu perfil</h2>
        <% end %>
     <% end %>


    
  </section>
</main>