<main id="cont-info-controllers">
  <section class="cont">
    <!-- <p id="notice"><%= notice %></p> -->

    <p>
      <strong>Titlo de la publicacion:</strong>
      <%= @publication.title %>
    </p>

    <p>
      <strong>Day pickup:</strong>
      <%= @publication.day_pickup %>
    </p>

    <p>
      <strong>Time pickup:</strong>
      <%= @publication.time_pickup %>
    </p>

    <p>
      <strong>Day delivery:</strong>
      <%= @publication.day_delivery %>
    </p>

    <p>
      <strong>Time delivery:</strong>
      <%= @publication.time_delivery %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @publication.description %>
    </p>

    <p>
      <strong>Estimated price: </strong>
      $<%= @publication.estimated_price %>
    </p>

    <p>
      <strong>Final price:</strong>
      <%= @publication.final_price %>
    </p>

    <%= link_to 'Edit', edit_publication_path(@publication) %> |
    <%= link_to 'Back', publications_path %>
  </section>
</main>
