<main id="cont-info-controllers">
  <section class="cont">
    <!-- <p id="notice"><%= notice %></p> -->

    <p>
      <strong>Titlo de la publicacion:</strong>
      <%= @publication.title %>
    </p>

    <p>
      <strong>Día de recoleccion:</strong>
      <%= @publication.day_pickup %>
    </p>

    <p>
      <strong>Hora de recoleccion:</strong>
      <%= @publication.time_pickup %>
    </p>

    <p>
      <strong>Día de entrega:</strong>
      <%= @publication.day_delivery %>
    </p>

    <p>
      <strong>Hora de entrega:</strong>
      <%= @publication.time_delivery %>
    </p>

    <p>
      <strong>Ciudad de recoleccion:</strong>
      <%= @publication.origin %>
    </p>

    <p>
      <strong>Ciudad de entrega:</strong>
      <%= @publication.destiny %>
    </p>

    <p>
      <strong>Descripcion:</strong>
      <%= @publication.description %>
    </p>

    <p>
      <strong>Presupuesto estimado: </strong>
      $<%= @publication.estimated_price %>
    </p>

    <%= link_to publications_path, :class => "back-publication-show" do%>
      <span class="icon-reply"></span>
    <%end%>
    <%= link_to edit_publication_path(@publication), :class => "edit-publication-show" do%>
      <span class="icon-edit"></span>
    <%end%>
   
  </section>
</main>
