<main id="clients-cont">
  <section class="cont">
    <h1 class="title-publications">Listado de Clientes</h1>
    	<article class="register">
				<div class="data">
					<p>Nombre</p>
		          	<p>Correo electronico</p>
		          	<p>Telefono</p>
		          	<p>Ver</p>
		        </div>
        	</article>
		<% @clients.each do |client| %>
			<article class="register">
				<div class="data">
					<p><%= client.first_name %> <%= client.last_name %></p> 
		          	<p><%= client.email %></p>
		          	<% if client.phone == nil%>
		          		<p>N/E</p>
		          	<% else %>
		          		<p><%= client.phone %></p>
		          	<% end %>
		          	<p>
		          		<a href="/clients/<%= client.id %>" class="link-action">
			                <span class="icon-remove-red-eye"></span>
			            </a>
		          	</p>
		        </div>
        	</article>
        <% end %>
	</section>
</main>

