<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fletes Durango | Rapido - Barato - Seguro</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

		<header id="galeria">
			<a href="#" class="btn-gl" id="anterior">
				<%= image_tag "btn-left.png", :alt => "Left", :title => "Left"%>
			</a>
			<div class="galeria">
				<ul>
					<li><%= image_tag "slide1.png", :alt => "Slide1", :title => "Slide1"%></li>
					<li>
						<%= image_tag "slide2.png", :alt => "Slide2", :title => "Slide2"%>
					</li>
				</ul>
			</div>
			<a href="#" class="btn-gl" id="siguiente">
				<%= image_tag "btn-right.png", :alt => "Right", :title => "Right"%>
			</a>
		</header>

	<section id="container-home">
		<article class="features">
			<figure>
				<%= image_tag "rocket.png", :alt => "Rapido", :title => "Rapido"%>
				<figcaption>
					Rapido
				</figcaption>
			</figure>
			<figure>
				<%= image_tag "trate.png", :alt => "Economico", :title => "Economico"%>
				<figcaption>
					Economico
				</figcaption>
			</figure>
			<figure>
				<%= image_tag "word.png", :alt => "Nacional", :title => "Nacional"%>
				<figcaption>
					Nacional
				</figcaption>
			</figure>
		</article>
		<article class="steps">
			<figure>
				<%= image_tag "one.png", :alt => "Primero", :title => "Primero"%>
				<figcaption>
					Registrate
				</figcaption>
			</figure>
			<figure>
				<%= image_tag "two.png", :alt => "Segundo", :title => "Segundo"%>
				<figcaption>
					Haz Cotizaciones
				</figcaption>
			</figure>
			<figure>
				<%= image_tag "three.png", :alt => "Tercero", :title => "Tercero"%>
				<figcaption>
					Gana Dinero
				</figcaption>
			</figure>
		</article>
	</section>
	
</body>
</html>