<main id="cont-forms-controllers">
  <section class="cont">
    <%= form_for(@load) do |f| %>
      <% if @load.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@load.errors.count, "error") %> prohibited this load from being saved:</h2>

          <ul>
          <% @load.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="cont_fields">
        <%= f.label :range %><br>
        <%= f.text_field :range %>
      </div>
      <%= f.submit "Guardar", :class => "submit-log-in-user"%>
    <% end %>
