<main id="messages">
  <h1 class="title">
    Mensajes recibidos
  </h1>
  <article class="all-messages">
    <div class="content">
      <% @contacts.each do |contact| %>
        <div class="row">
          <div class="controls">
            <%= link_to contact do %>
              <span class="ion-android-open"></span>
            <% end %><%= link_to contact, method: :delete, data: { confirm: 'Are you sure?' } do%>
              <span class="ion-android-delete"></span>
            <% end %>
          </div>
          <p class="data">
            Nombre: <%= contact.name %>
          </p>
          <p class="data">
            Email: <%= contact.email %>
          </p>
          <p class="data">
            Telefono: <%= contact.phone %>
          </p>
          <p class="data">
            Asunto: <%= contact.subject %>
          </p>
        </div>
      <% end %>
    </div>
  </article>
</main>
