<main id="log-in-user-cont">
  <section class="cont">
    <a href="/" class="logo-t">
      <%= image_tag "logo.png", :alt => "Logo", :title => "Logo"%>
    </a>
    <h1 class="title-sign-in-user">Iniciar sesion</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="cont_fields">
          <%= f.label :email, "Correo Electronico" %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="cont_fields">
          <%= f.label :password, "Contraseña" %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="cont_remember">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Recordarme" %>
          </div>
        <% end -%>

        <%= f.submit "Entrar", :class => "submit-log-in-user" %>
      <% end %>
  </section>
</main>
