<main id="clients-cont">
  <section class="cont">
  <h1 class="title-publications">Listado de Transportistas</h1>
  <form action="/search/drivers" class="cd-form floating-labels search" method="get">
    <h1>Buscar</h1>
      <div class="input">
        <input type="text" name='q' <%= @q %> placeholder="Donde ej. Durango, Mazatlán, Nayarit">
      </div>
      <div class="go-search">
        <input type="submit" value="Buscar">
      </div>
    </form>
    	<article class="register">
				<div class="data">
					<p class="number">Nº</p>
					<p>Nombre</p>
		          	<p>Correo electronico</p>
		          	<p>Telefono</p>
		          	<p class="number">Ver</p>
		        </div>
        	</article>

        <% @a = 0 %>
        	
		<% @clients.each do |client| %>
			<% @a = @a + 1 %>
			<article class="register <% if client.update_profile == '0' %> no-red<% end %>" >
				<div class="data">
					<p class="number"><%= @a %></p>
					<p><%= client.first_name %> <%= client.last_name %></p> 
		          	<p><%= client.email %></p>
		          	<% if client.phone == nil%>
		          		<p>N/E</p>
		          	<% else %>
		          		<p><%= client.phone %></p>
		          	<% end %>
		          	<p class="number">
		          		<a href="/drivers/<%= client.id %>" class="link-action">
			                <span class="icon-remove-red-eye"></span>
			            </a>
		          	</p>
		        </div>
        	</article>
        <% end %>
	</section>
</main>

