<main id="cont-info-controllers">
  <section class="cont">
  	
	<p>
		<strong>Nombre: </strong>
		<%= @client.first_name %> <%= @client.last_name %>
	</p>	
	<p>
		<strong>Correo electronico: </strong>
		<%= @client.email %>
	</p>
	<p>
		<strong>Telefono: </strong>
		<%= @client.phone %>
	</p>
	<p>
		<strong>Calle y Numero: </strong>
		<%= @client.street %>
	</p>
	<p>
		<strong>Colonia: </strong>
		<%= @client.colony %>
	</p>
	<p>
		<strong>Codigo postal: </strong>
		<%= @client.postal %>
	</p>
	<p>
		<strong>Ciudad ultima vez: </strong>
		<%= @client.city %>
	</p>
	<p>
		<strong>Estado ultima vez : </strong>
		<%= @client.state %>
	</p>
	<p>
		<strong>Compañia: </strong>
		<%= @client.company %>
	</p>
	<p>
		<strong>RFC: </strong>
		<%= @client.rfc %>
	</p>
	<p>
		<strong>Servicios que ofrece: </strong>
		<%= @client.services.collect(&:name).join(" | ") %>
	</p>
	<p>
		<strong>Camiones con los que cuenta: </strong>
		<%= @client.trucks.collect(&:name).join(" | ") %>
	</p>

	<p>
		<strong>Cargas que soportan: </strong>
		<%= @client.loads.collect(&:range).join(" | ") %>
	</p>
    
    
    
    <%= link_to :back, :class => "back-publication-show" do%>
      <span class="icon-reply"></span>
    <%end%>
	</section>
</main>
