<!DOCTYPE html>
<html>
<head>
  <title>Fletes</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="/assets/icomoon/style.css">
  <link rel="stylesheet" href="/assets/jquery-ui/jquery-ui.css">
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p id="alert-success"><%=notice%></p>
<% end %>
<% if alert%>
  <p id="alert-danger"><%= alert %></p>
<% end %>

<nav id="menu-off">
  <ul>
    <% if user_signed_in? %>
       <div class="page-cont">
         <!-- <li class="">Hola: <strong><%= current_user.email %></strong></li> -->
          <%= link_to "/" ,:class => 'li-standar' do%>
           <li>Inicio</li>
          <% end %>
          
          <%if current_user.role == "cliente"%>
            <%= link_to publications_path, :class => 'li-standar' do%>
              <li>Publicaciones</li>
            <%end%> 
          <%else%>
            <%= link_to offers_pub_path, :class => 'li-standar' do%>
              <li>Ofertas</li>
            <%end%> 
          <%end%>
      </div>
      <a href="#" class="show-actions-user">
        <figure>
          <%= image_tag current_user.avatar, :alt => "Avatar", :title => "Avatar"%>
        </figure>
      </a>
      <div class="cont-actions-user">
        <a href="">
          <li>Cambiar avatar</li>
        </a>
         <%= link_to edit_user_registration_path, :class => 'li-standar' do%>
            <li>Editar perfil</li>
         <%end%> 

         <%= link_to destroy_user_session_path, method: :delete, :class => 'li-standar' do%>
            <li>Cerrar Sesion</li>
         <%end%>
      </div>
    <% else %>

      <div class="page-cont">
        <%= link_to "/" ,:class => 'li-standar' do%>
          <li>Inicio</li>
        <% end %>
        <%= link_to "" ,:class => 'li-standar' do%>
          <li>Nosotros</li>
        <% end %>
        <%= link_to "" ,:class => 'li-standar' do%>
          <li>Contactanos</li>
        <% end %>
        <%= link_to "tel:6181111111" ,:class => 'li-standar' do%>
          <li>Llamanos</li>
        <% end %>
      </div>

      <div class="sessions-cont">
        <%= link_to new_user_registration_path, :class => 'link_sign' do%>
        <li>Registrate</li>
       <% end %>
       <%= link_to new_user_session_path, :class => 'link_log' do%>
        <li>Inicia Sesion</li>
       <%end%>
      </div>

    <% end %>
  </ul>
</nav>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script>
  $(function() {
    $( "#datepick" ).datepicker();
    $( "#datedeliv" ).datepicker();
  });
</script>
</body>
</html>
