<!DOCTYPE html>
<html>
<head>
  <title>Fletes</title>
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= stylesheet_link_tag "fonts"%>
  <%= stylesheet_link_tag  'jquery-ui.min'%>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p id="alert-success"><%=notice%></p>
<% end %>
<% if alert%>
  <p id="alert-danger"><%= alert %></p>
<% end %>
<nav id="menu-off">
  <ul class="content">
    <% if user_signed_in? %>

      <% if current_user.role == "transportista"  || current_user.role == "etransportista" %>
        <% if current_user.update_profile == "0" || current_user.update_profile == nil %>
          <div class="alert-registration">
            <span class="ion-android-cancel close-recomend"></span>
            <h1>Alerta</h1>
            <p>Detectamos que aun no actualizas tus datos.
             Permitenos porder encontrarte viajes, lo unico que requieres es llenar todos los campos que se te pide y a su vez que sean correctos.
             En esta tarea tardas maximo 5 minutos te pedimos te tomes ese tiempo para asi poder ofrecerte un servicio de calidad.
            </p>
            <%= link_to edit_user_registration_path, :class => 'register' do%>
            Editar perfil
            <%end%>
          </div>
        <% end %>
      <% end %>

      <%
        if current_user.role == "transportista"  || current_user.role == "etransportista"
          @user = User.find(current_user.id)
          @user.update(city: params[:city], state: params[:state])
        end
      %>

        <div class="page-cont">

        <li>
          <%= link_to "/" ,:class => 'li-standar' do%>
            Inicio
          <% end %>
        </li>
        <li>
          <%= link_to "/nosotros" ,:class => 'li-standar open-nosotros' do%>
            Nosotros
          <% end %>
        </li>
        <li>
          <%= link_to "/contacto" ,:class => 'open-contact li-standar' do%>
          Contactanos
        <% end %>
        </li>
        <li>
          <%= link_to "tel:6181450007" ,:class => 'li-standar' do%>
            Llamanos
          <% end %>
        </li>
        <li>
            <li><a>Más</a>
              <ul class="more">
                <li>
                  <%= link_to "" ,:class => 'li-standar open-ayuda' do%>
                    Ayuda
                  <% end %>
                </li>
                <li>
                  <%= link_to "" ,:class => 'li-standar' do%>
                    Preguntas Frecuentes
                  <% end %>
                </li>
                <li>
                  <%= link_to "" ,:class => 'li-standar open-como' do%>
                   ¿Como Funciona?
                  <% end %>
                </li>
              </ul>
            </li>
            <%if current_user.role == "cliente"%>
              <li><%= link_to publications_path, :class => 'li-standar bg-white' do%>
                Publicaciones
              <%end%>
              </li>
            <%else%>
              <li><%= link_to offers_pub_path, :class => 'li-standar bg-white' do%>
                Ofertas
              <%end%>
              </li>
              <li><%= link_to my_offers_path, :class => 'li-standar bg-white br-left' do%>
                Mis Ofertas
              <%end%>
              </li>
            <%end%>
        </li>
        </div>


      <a href="#" class="show-actions-user">
        <figure>
          <span class="ion-ios-gear"></span>
        </figure>
      </a>
      <div class="cont-actions-user">
         <%= link_to edit_user_registration_path, :class => 'li-standar' do%>
            <li>Editar perfil</li>
         <%end%>

         <%= link_to destroy_user_session_path, method: :delete, :class => 'li-standar' do%>
            <li>Cerrar Sesion</li>
         <%end%>
      </div>
    <% elsif admin_signed_in? %>
        <div class="page-cont">
          <li>
            <%= link_to "/" ,:class => 'li-standar' do%>
              Inicio
            <% end %>
          </li>
           <%if current_admin.role == "super"%>
              <li><%= link_to clients_list_path, :class => 'li-standar' do%>
                Clientes
              <%end%></li>
              <li><%= link_to drivers_list_path, :class => 'li-standar' do%>
                Transportistas
              <%end%></li>
              <li><%= link_to publications_path, :class => 'li-standar' do%>
                Publicaciones
              <%end%></li>
              <li><%= link_to services_path, :class => 'li-standar' do%>
                Servicios
              <%end%></li>
              <li><%= link_to trucks_path, :class => 'li-standar' do%>
                Tipos de Camion
              <%end%></li>
              <li><%= link_to loads_path, :class => 'li-standar' do%>
                Cargas
              <%end%></li>
          <%else%>
            <%= link_to offers_pub_path, :class => 'li-standar' do%>
              <li>Ofertas</li>
            <%end%>
          <%end%>
       </div>

      <a href="#" class="show-actions-user">
        <figure>
          <span class="ion-ios-gear"></span>
        </figure>
      </a>
      <div class="cont-actions-user">
         <%= link_to edit_admin_registration_path, :class => 'li-standar' do%>
            <li>Editar perfil </li>
         <%end%>
          
         <%= link_to destroy_admin_session_path, method: :delete, :class => 'li-standar' do%>
            <li> Cerrar Sesion</li>
         <%end%>
      </div>
    <% else %>

      <div class="page-cont">

        <li>
          <%= link_to "/" ,:class => 'li-standar' do%>
            Inicio
          <% end %>
        </li>
        <li>
          <%= link_to "/nosotros" ,:class => 'li-standar open-nosotros' do%>
            Nosotros
          <% end %>
        </li>
        <li>
          <%= link_to "/contacto" ,:class => 'open-contact li-standar' do%>
          Contactanos
        <% end %>
        </li>
        <li>
          <%= link_to "tel:6181450007" ,:class => 'li-standar' do%>
            Llamanos
          <% end %>
        </li>
        <li>
            <li><a>Más</a>
              <ul class="more">
                <li>
                  <%= link_to "" ,:class => 'li-standar open-ayuda' do%>
                    Ayuda
                  <% end %>
                </li>
                <li>
                  <%= link_to "" ,:class => 'li-standar' do%>
                    Preguntas Frecuentes
                  <% end %>
                </li>
                <li>
                  <%= link_to "" ,:class => 'li-standar open-como' do%>
                   ¿Como Funciona?
                  <% end %>
                </li>
              </ul>
            </li>
        </li>

      </div>

      <div class="sessions-cont">
        <%= link_to new_user_registration_path, :class => 'link_log' do%>
        <li>Registrate</li> 
       <% end %>
       <%= link_to new_user_session_path, :class => 'link_log' do%>
        <li>Inicia Sesion</li>
       <%end%>
      </div>
    <% end %>
  </ul>
</nav>

<%= yield %>


<footer>
      <div class="cont">
        <div class="menu">
          <p class="right-slide">
            <a href="/">Inicio</a>
          </p>
          <p class="right-slide">
            <a href="#nosotros" class="open-nosotros">Nosotros</a>
          </p>
          <p class="right-slide">
            <a href="" class="open-contact">Contactanos</a>
          </p>
          <p>
            <a href="tel:6181450007">Teléfono</a>
          </p>
        </div>
        <div class="copy">
          <p>
            © 2015 FleteTodo.
          </p>
        </div>
        <div class="rules">
          <p class="right-slide">
            <a href="#terminos" class="show-terminos">Términos y condiciones</a>
          </p>
          <p>
            <a href="#politicas" class="show-politicas">Política de Privacidad</a>
          </p>
        </div>
        <div class="rules">
          <p>
            <a href="http://dhomper.mx" target="_blank">Made with <span class="ion-ios-heart"></span> by Heptagram</a>
          </p>
        </div>
      </div>
    </footer>

<div id="cortina"></div>

<div id="nosotros">
  <!-- <a href="" class="close"><span class="ion-close-circled"></span></a> -->
  <div class="sub-menu">
    <h1 id="l-link" class="l-mision">Misión</h1><h1 class="l-vision">Visión</h1>
  </div>
  <p class="mision">Fletetodo.com tiene como misión la prestación de servicios de transporte de  carga a

      nivel Nacional, buscando siempre satisfacer las necesidades de nuestros clientes,

      haciendo una conexión entre cliente y transportista, cumpliendo sin demoras con

      cada entrega y asegurándonos que la mercancía de nuestros clientes llegue

      siempre de manera segura, confiable y oportuna, para así seguir creciendo en

      nuestra cartera de clientes satisfechos.
  </p>

  <p class="vision">
    Ser reconocidos a nivel no solo nacional si no a nivel internacional como una empresa que ofrece

      servicios económicos, de calidad, confianza y rapidez con precios únicos en su ramo.
  </p>
  </div>
</div>


<div id="contacto">
  <!-- <a href="" class="close"><span class="ion-close-circled"></span></a> -->
  <div class="sub-menu">
    <h1 id="l-link" class="l-telefono">Teléfonos</h1><h1 class="l-email">Email</h1><h1 class="l-direccion">Direccion</h1>
  </div>
  <p class="telefonos">
    <span>Oficina. 1.28.50.78</span>
    <span>Celular. 618.145.00.07</span>
  </p>

  <p class="email">
    <span>contacto@fletetodo.com</span>
    <span>ventas@fletetodo.com</span>
    <span>ayuda@fletetodo.com</span>
  </p>
  <p class="direccion">
    <b>Felipe Pescador #717 B pre local 1 Zona Centro 34000 Durango Dgo.</b>
    <b><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3643.898544584771!2d-104.67190540000001!3d24.034642599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869bc83a97d2306b%3A0xe43462ad96aa3657!2sFelipe+Pescador+717%2C+Zona+Centro%2C+34000+Durango%2C+Dgo.!5e0!3m2!1ses!2smx!4v1434123750501" width="400" height="300" frameborder="0" style="border:0"></iframe></b>
  </p>
  </div>
</div>

<div id="comof">
  <!-- <a href="" class="close"><span class="ion-close-circled"></span></a> -->
  <div class="sub-menu">
    <h1 id="l-link" class="l-transportista">Transportistas</h1><h1 class="l-clientes">Clientes</h1>
  </div>
  <p class="transportista">
    <span>Registrate en el link que se encuentra en la parte superior de la página ha costado derecho.</span>
    <span>Una vez que hayas completado tu registro completa tu perfil al 100% para que así puedas participar en los viajes de la plataforma, para completar tu perfil da click en la imagen de un mono en la parte superior derecha, en seguida se desplegará una ventana, en seguida da click en el apartado de editar perfil, en seguida solo llena los campos completa y correctamente, los campos de último estado y última ciudad se llenan automáticamente mediante geolocalización por lo cual te recomendamos ampliamente que mantengas activada la opción de permitir geolocalización en tu navegador.</span>
    <span>Una vez que hayas rellenado tus datos completamente podrás acceder al apartado de Ofertas en donde podrás revisar todas las ofertas vigentes.</span>
    <span>También tendrás acceso al apartado de Tus Ofertas en el cual aparecerán los viajes en los cuales fuiste seleccionado cabe mencionar que el que asigna los viajes se basa en tu perfil por lo cual te pedimos que tu perfil esté llenado de manera correcta y que entres constantemente a la plataforma para que tu ubicación actual se actualice y así poderte ofrecer viejas de regreso.</span>
    <span>
      Una vez que conozca los viajes a los que has sido seleccionado es importante que si deseas participar pulse al botón que se encuentra en la parte inferior de la publicación y a su vez coloques el costo de tu servicio, con esto nuestro equipo podrá corroborar que estas dispuesto a ejecutar el viaje.
    </span>
    <span>
      Si eres seleccionado se te hablara directamente a tu celular para confirmarte, una vez que recojas la mercancía se te depositara una parte del pago total, una vez concluido se te depositara la parte restante.
    </span>
    <span>
      Por cada viaje ejecutado se te agregan puntos a tu favor según la calidad con la que ejecutaste el servicio y cada 6 meses según su rating el transportista será recompensado con increíbles regalos.
    </span>
    <span>¿Qué esperas? Ven y forma parte de esta increíble plataforma.</span>
  </p>

  <p class="clientes">
  </p>
  </div>
</div>

<div id="ayuda">
  <!-- <a href="" class="close"><span class="ion-close-circled"></span></a> -->
  <div class="sub-menu">
    <h1 id="l-link" class="l-quejas">Quejas</h1><h1 class="l-sugerencias">Sugerencias</h1><h1 class="l-soporte">Soporte</h1>
  </div>
  <p class="quejas">
    <span>Si tienes alguna queja sobre la plataforma o el servicio favor de ponerse en contacto directo con el Gerente general de fletetodo.com para que podamos resolver todas sus inquietudes</span>
    <span>Oficina. 1.28.50.78</span>
    <span>Correo. gerente@fletetodo.com</span>
  </p>

  <p class="sugerencias">
    <span>En fletetodo.com buscamos inovar y ofrecerte un servicio de alta calidad por lo cual toda sugerencia sera tomada en cuenta para ofrecerte un producto de alta calidad y desempeño. Para tus sugerencias favor de enviarnos un correo a la siguiente dirección.</span>
    <span>gerente@fletetodo.com</span>
  </p>
  <p class="soporte">
    <span>Si tienes algún problema con la aplicación en términos técnicos o encontraste algún error en la aplicación favor de comunicarse por los siguientes medios.</span>
    <span>cel. 618.187.50.07</span>
    <span>correo. programminghack@gmail.com</span>
  </p>
  </div>
</div>






<div id="politicas">
    <a href="" class="close"><span class="ion-close-circled"></span></a>
    <h2>
        Política de Privacidad
    </h2>
    <p>
    En cumplimiento con lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de Particulares,    <strong>FleteTodo. </strong>(en adelante <strong>"fletetodo"</strong>) con domicilio en Calle. Vitoria #110 Fracc. Arantzazu, Durango, Dgo, hace de su conocimiento la política de privacidad y manejo de datos personales, en la que en todo momento
        buscará que el tratamiento de los mismos sea legítimo, controlado e informado, a efecto de garantizar la privacidad de los mismos.
    </p>
    <p>
        <strong>"fletetodo"</strong>
        , a través de www.fletetodo.mx (en adelante el <strong>“</strong>Portal”),<strong> </strong>tiene entre otros objetivos, la convicción de proteger los
        datos personales, y datos sensicbles, en su caso, proporcionados por los usuarios; así como los principios de licitud, consentimiento,
    información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad en el tratamiento de los mismos (en adelante, conjuntamente la “Información”)    <strong>. </strong>Por lo anterior,<strong>"fletetodo"</strong> ha establecido las siguientes disposiciones para proteger dicha Información en la medida
        de lo posible, las cuales pueden cambiar en cualquier momento. Por lo que <strong>"fletetodo"</strong> sugiere consultarlas periódicamente. Los términos
    que no estén expresamente definidos en estas disposiciones, tendrán el significado que se les atribuye a los mismos en los    <em>“Términos y Condiciones para el uso del portal.”</em>
    </p>
    <h3>
        1. INFORMACIÓN PERSONAL SOLICITADA.
    </h3>
    <p>
    Los datos personales que proporcione cualquier usuario, incluyendo sin limitar, suscriptores, clientes, proveedores y/o usuarios, en favor de    <strong>"fletetodo" </strong>tendrán el uso que en forma enunciativa pero no limitativa se describe a continuación:
    </p>
    <ul>
        <li>
            - Para identificarle, ubicarle, comunicarle, contactarle o enviarle información, así como para su transmisión a terceros por cualquier medio. El uso de
            los datos personales tendrá relación con el tipo de interacción que el usuario tiene con <strong>"fletetodo"</strong> en su calidad de responsable de
            la Información, ya sea que la relación entre el usuario y <strong>"fletetodo" </strong>sea de naturaleza comercial, civil, mercantil o de cualquier
            otra naturaleza.
        </li>
    </ul>
    <ul>
        <li>
            - Al visitar el Portal, <strong>“Google Analytics”</strong> recopila automáticamente algunos datos personales, que luego suma a un conjunto para que no estén
            asociados a una única persona que sea identificable. Con esta información se elaboran estadísticas sobre cuántos usuarios visitan el Portal y a qué
            páginas accedieron. Al recopilar esta Información se adaptan de la mejor manera a los sitios web a los Usuarios y Visitantes. Tal y como adelante se
            señala, <strong>"fletetodo"</strong>recopila esta Información a través de "archivos temporales" o "web beacons".
        </li>
    </ul>
    <ul>
        <li>
            - Archivos de registro: Los archivos temporales son archivos web del servidor (como el nombre del dominio o la dirección IP, URL, el código de
            respuesta http, el sitio web desde el que nos ha visitado o la fecha y duración de su visita) que se crean automáticamente cuando un usuario de
            Internet visita un sitio. Una vez que el Usuario deja de usar el sitio web, se procesa y utiliza esta información sólo para permitir más conexiones,
            para temas de facturación, para detectar interrupciones en el equipo de telecomunicaciones de <strong>"fletetodo"</strong>, así como para detectar
            abusos en los servicios de telecomunicaciones. Esta información se elimina inmediatamente una vez finalizada la coanera más satisfactoria los
            servicios, o bien cuando los usuarios quieran hacer una compra de cualquiera de los productos o servicios ofrecidos en el Portal. Para efectos de lo
            anterior, <strong>"fletetodo"</strong>invariablemente le solicitará al usuario que inicie sesión con una dirección de correo electrónico y una
            contraseña. Los usuarios de los servicios deberán otorgar su consentimiento libre y voluntariamente para proporcionar la Información que le sea
            requerida, en el entendido de que si el usuario optara por no proporcionar la información obligatoria, dicho usuario no podrá acceder a los servicios
            para los cuales le es requerida.
        </li>
    </ul>
    <h3>
        2. USO, FINALIDAD Y TRATAMIENTO DE LA INFORMACIÓN.
    </h3>
    <p>
        <strong>"fletetodo"</strong>
        utiliza la tecnología más avanzada a su alcance para la protección de la Información proporcionada por los usuarios del Portal, la plataforma esta creada en su totalidad con Ruby on Rails 4.2.0.
    </p>
    <p>
        <strong>"fletetodo" </strong>
        podrá transmitir la Información proporcionada por sus usuarios a terceros que tengan cualquier relación jurídica con aquél, ya sea a nivel nacional o
        internacional. <strong>"fletetodo"</strong> también recolectará información que es derivada de los gustos, preferencias y en general de la utilización
        que hacen los usuarios del Portal y de sus servicios. Dicha información derivada, al igual que la Información que los usuarios proporcionen, podrá ser
        utilizada para diversos objetivos comerciales, como lo es el proporcionar datos estadísticos, enviar publicidad a los usuarios de acuerdo a sus intereses
    específicos, conducir investigaciones de mercadeo, y otras actividades o promociones que <strong>"fletetodo"</strong> considere apropiadas.    <strong>"fletetodo"</strong>también podrá revelar Información cuando por mandato de ley y/o de autoridad competente le fuere requerido, o por considerar
        de buena fe que dicha revelación es necesaria para: i) Cumplir con procesos legales; ii) Cumplir con el convenio del usuario; iii) Responder reclamaciones
    que involucren cualquier contenido que menoscabe derechos de terceros, o; iv) Proteger los derechos, la propiedad o la seguridad de    <strong>"fletetodo", </strong>sus usuarios y el público en general.
    </p>
    <p>
        <strong>"fletetodo" </strong>
        se reserva el derecho de ceder la Información proporcionada por los usuarios a cualquiera de sus filiales o subsidiarias, ya sean presentes, o aquellas que
        se constituyan o adquieran en el futuro, tanto a nivel nacional, como internacional.
    </p>
    <h3>
        3. PROTECCIÓN DE LA INFORMACIÓN.
    </h3>
    <p>
        <strong>"fletetodo" </strong>
        expresa su compromiso de proteger la seguridad de la Información proporcionada por los usuarios. Para dichos fines, utiliza una gran variedad de
        tecnologías y procedimientos de seguridad, para impedir, en la medida de lo posible, el acceso, uso o divulgación no autorizados. Cuando se transmite
        información altamente confidencial relacionada con el pago de servicios (como número de tarjetas bancarias) se hace a través de portales especializados
        como Paypal y dineromail, por lo que <strong>"fletetodo" </strong>no es responsable en forma alguna por la protección de dicha información
    </p>
    <h3>
        4. COOKIES.
    </h3>
    <p>
        El usuario reconoce y acepta que <strong>"fletetodo" </strong>podrá utilizar un sistema de seguimiento mediante la utilización de cookies (las
        "Cookies"). Las Cookies son pequeños archivos que se instalan en el disco rígido, con una duración limitada en el tiempo que ayudan a personalizar los
        servicios.<strong>"fletetodo" </strong>también ofrece ciertas funcionalidades que sólo están disponibles mediante el empleo de Cookies. Las Cookies se
        utilizan con el fin de conocer los intereses, el comportamiento y la demografía de quienes visitan o son usuarios del Portal y de esa forma, comprender
        mejor sus necesidades e intereses y darles un mejor servicio o proveerle información relacionada. <strong>"fletetodo" </strong>podrá usar la información
        obtenida por intermedio de las Cookies para analizar las páginas navegadas por el visitante o usuario, las búsquedas realizadas, mejorar sus iniciativas
        comerciales y promocionales, mostrar publicidad o promociones, banners de interés, noticias sobre <strong>"fletetodo"</strong>, perfeccionar la oferta de
        contenidos y artículos, personalizar dichos contenidos, presentación y servicios; <strong>"fletetodo"</strong> podrá utilizar Cookies para promover y
        hacer cumplir las reglas y seguridad del Portal. <strong>"fletetodo" </strong>también podrá agregar Cookies en los correos electrónicos que envíe para
        medir la efectividad de las promociones.
    </p>
    <p>
        <strong>"fletetodo" </strong>
        utilizará adicionalmente las Cookies para que el usuario no tenga que introducir su clave tan frecuentemente durante una sesión de navegación, también para
        contabilizar y corroborar las inscripciones, la actividad del usuario y otros conceptos para los diversos programas y otros acuerdos comerciales, siempre
    teniendo como objetivo de la instalación de las Cookies, el beneficio del usuario que la recibe, y no será usado con otros fines ajenos a    <strong>"fletetodo".</strong>
    </p>
    <p>
        Se establece que la instalación, permanencia y existencia de las Cookies en el computador del usuario depende de su exclusiva voluntad y puede ser
        eliminada de su computador cuando el usuario así lo desee. Para saber cómo quitar las Cookies del Sistema es necesario revisar la sección Ayuda (Help) del
        navegador.
    </p>
    <p>
        El Portal usa diversas <em>“cookies”</em> para iniciar sesión, y así el usuario pueda utilizar algunos de los servicios de <strong>"fletetodo"</strong>.
        Las <em>“cookies”</em> contienen información, que posteriormente puede leer un servidor web con el objetivo de almacenar sus preferencias y otro tipo de
        información en el equipo, para que de este modo, ahorrar tiempo al usuario, al eliminar la necesidad de escribir varias veces la misma Información, además
        permite mostrar contenidos personalizados.
    </p>
    <h3>
        5. RECTIFICACIÓN, CANCELACIÓN U OPOSICIÓN DEL USO DE INFORMACIÓN.
    </h3>
    <p>
        Los usuarios tienen reconocidos y podrán ejercitar los derechos de acceder, rectificar, cancelar y actualizar su Información, incluyendo su dirección de
        correo electrónico, así como oponerse al tratamiento de la Información misma y a ser informado de las cesiones llevadas a cabo, todo ello de conformidad a
        lo dispuesto en la legislación aplicable. Los usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de la
        Información facilitada, y se comprometen a mantenerla debidamente actualizada.
    </p>
    <p>
        Una vez inscrito en el Portal, el usuario podrá revisar y cambiar la Información que ha enviado durante el proceso de inscripción incluyendo:
    </p>
    <ul>
        <li>
            - Dirección de correo electrónico. Sin perjuicio de los cambios que realice, <strong>"fletetodo" </strong>conservará la Información Personal anterior
            por motivos de seguridad y control del fraude.
        </li>
        <li>
            - La información de la inscripción como: Usuario, en su caso compañía, domicilio, ciudad, región, código postal, país, número principal de teléfono,
            número secundario de teléfono, número de fax, correo electrónico, etc.
        </li>
        <li>
            - La clave de acceso al Portal.
        </li>
    </ul>
    <p>
        En determinados casos, <strong>"fletetodo"</strong> a su propio criterio mantendrá en sus archivos la Información que el usuario haya solicitado fuera
        retirada, con la finalidad de resolver disputas o reclamaciones, detectar problemas o incidencias y solucionarlos, y dar cumplimiento a lo dispuesto en los
        Términos y Condiciones Generales por un período de tiempo determinado por la ley. En cualquier caso, la Información Personal de un usuario no será
        inmediatamente retirada de los archivos de <strong>"fletetodo" </strong>por motivos legales y técnicos, incluyendo sistemas de soportes de seguridad. Por
        tanto, no se deba esperar que toda la Información sea definitivamente borrada de las bases de datos de <strong>"fletetodo"</strong>.
    </p>
    <p>
        Los usuarios deben actualizar su Información periódicamente conforme la misma sea modificada para que los otros usuarios puedan ubicarlos cuando realicen
        una operación. Para hacer cualquier modificación en la Información que es suministrada en el momento de la Inscripción, se debe ingresar al Portal y seguir
        los pasos señalados para modificar la información proporcionada.
    </p>
    <p>
        En caso que el Usuario desee ejercer sus derechos de acceso, rectificación, cancelación u oposición, estos los podrán ejercer en todo momento dirigiendo su
        solicitud a (i) al correo electrónico dejazgaga@hotmail.com y/o (ii) al siguiente domicilio: Calle. Vitoria #110 Fracc. Arantzazu, Durango, Dgo, al teléfono 618.187.50.07, de lunes a viernes de las 9:00 a las 19:00 horas, en días hábiles, según corresponda. Para lo anterior, deberá hacer del
        conocimiento de <strong>"fletetodo" </strong>de saber fehacientemente los datos personales que el Usuario desea sean rectificados, cancelados o
        revisados, así como el propósito para el cual los aportó y el nombre del Responsable a quien se los entregó y en general cumplir los requisitos mencionados
        en el art. 29 de la Ley Federal de Protección de Datos Personales en Posesión de Particulares.
    </p>
    <h3>
        6. CAMBIOS EN EL AVISO DE PRIVACIDAD.
    </h3>
    <p>
    El presente aviso de privacidad, podrá ser actualizado, con la finalidad de reflejar los cambios que se produzcan en los servicios de    <strong>"fletetodo"</strong>. En dicho supuesto, se modificará la fecha de “<em>última actualización</em>”, en la parte superior de la misma. Si se
        realizan cambios materiales en este aviso de privacidad, o bien en la forma que <strong>"fletetodo"</strong> usa y/o transmite la información personal,
        se le notificará con anterioridad a su implementación al usuario, mediante un comunicado al correo electrónico que para tales efectos haya dispuesto.
    </p>
    <h3>
        7. DERECHO DE PROMOVER LOS PROCEDIMIENTOS DE PROTECCIÓN DE DERECHOS Y VERIFICACIÓN.
    </h3>
    <p>
    Cualquier queja o información adicional respecto al tratamiento de sus datos personales o duda en relación con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares o con su Reglamento, podrá dirigirla al Instituto Federal de Acceso a la Información y Protección de Datos (IFAI) al teléfono 0 1800 835 4324.

    </p>
    <h3>
        8. CONTACTO.
    </h3>
    <p>
        En caso de dudas y/o comentarios a este aviso de privacidad, el usuario podrá contactar a <strong>"fletetodo"</strong>, mediante comunicado electrónico
        al <a href="mailto:dejazgaga@hotmail.com ">dejazgaga@hotmail.comm</a> obteniendo una respuesta sobre el mismo, en un plazo de 72 horas hábiles.
    </p>
    <h3>
        9. MARCO LEGAL VIGENTE.
    </h3>
    <p>
        El usuario se obliga, por el simple hecho de navegar a través del Portal, a respetar toda la normativa legal vigente relacionada con la utilización,
        gestión y uso de sistemas de información. <strong>"fletetodo"</strong> extiende el presente aviso de privacidad, de conformidad con lo dispuesto por la
        Ley Federal de Protección de Datos Personales, así como por las normas aplicables a nivel nacional e internacional.
    </p>
    <p class="legales">Política de privacidad actualizada al 06/05/2015</p>
</div>

<div id="terminos">
  <a href="" class="close"><span class="ion-close-circled"></span></a>
  <h2>Términos y condiciones</h2>
  <h3>
      1. Términos y Condiciones del “Portal”.
  </h3>
  <p>
      La utilización del “Portal” www.fletetodo.com en lo sucesivo el “Portal” por parte de cualquier persona, le atribuye la calidad
      de usuario en lo sucesivo el “Usuario” y/o “Usuarios” y ello implica su adhesión plena e incondicional a estos Términos y Condiciones, en consecuencia es
      indispensable que el “Usuario” los lea previamente y los evalúe de forma cuidadosa, de tal manera que esté consciente de que se sujeta a ellos y a las
      modificaciones que pudieran sufrir, cada vez que accede al “Portal”.
  </p>
  <p>
      Si en cualquier momento el “Usuario” no estuviera de acuerdo total o parcialmente con estos Términos y Condiciones, deberá abstenerse inmediatamente de
      usar el “Portal” en cualquiera de sus partes o secciones.
  </p>
  <p>
      El “Usuario” está de acuerdo que en diversas partes del “Portal” podrá haber estipulaciones especiales que, según sea el caso, sustituirán, complementarán
      y/o modificarán los Términos y Condiciones en lo sucesivo las “Condiciones Particulares”, por tal razón también resulta indispensable que el “Usuario” las
      lea previamente en cada caso y de no estar total o parcialmente de acuerdo con ella o ellas, se abstenga de usar la parte o sección de el “Portal” regulada
      bajo esa “Condición o Condiciones Particular(es)”. En caso de que el “Usuario” utilice la parte del “Portal” regulada por una o más “Condiciones
      Particulares” se entenderá que se somete total e incondicionalmente a ellas.
  </p>
  <h3>
      2. Objeto.
  </h3>
  <p>
      A través del “Portal”, FleteTodo. en lo sucesivo la “Empresa” facilita a los “Usuarios” de manera gratuita u onerosa (según sea el caso) el
      acceso a información diversa, así como a la utilización de diversos servicios en lo sucesivo los “Servicios” proporcionados por la propia “Empresa” o por
      personas vinculadas a ella de manera directa o indirecta.
  </p>
  <p>
      El “Usuario” reconoce que el uso del “Portal” no le implica ningún derecho de propiedad sobre el mismo en cualquiera de sus elementos o contenidos.
  </p>
  <p>
      La “Empresa” se reserva el derecho a modificar en cualquier momento y sin aviso previo la presentación, configuración, información, servicios, contenido y
      en general cualquier parte o aspecto relacionado directa o indirectamente con el “Portal”, e incluso eliminarlo definitivamente.
  </p>
  <h3>
      3. Acceso y Utilización del “Portal”.
  </h3>
  <p>
      A) El acceso y utilización del “Portal” por parte de la “Empresa” tiene carácter gratuito para los “Usuarios”, salvo que en una o más de sus partes o
      secciones se especifique lo contrario. El “Usuario” estará obligado a registrarse o inscribirse en el “Portal”, únicamente cuando se le solicite
      específicamente.
  </p>
  <p>
      B) Uso correcto del “Portal" y de los “Servicios”.
  </p>
  <p>
      El Usuario se compromete a utilizar el “Portal” y los “Servicios” conforme a las leyes aplicables, a lo dispuesto en estos Términos y Condiciones, a la
      moral y las buenas costumbres, y en respeto del orden público. El “Usuario” se obliga a utilizar el “Portal” y cualquier “Servicio” o aspecto relacionado
      con él, de una manera en que no lesione derechos o intereses de la “Empresa”, de personas vinculadas a ella directa o indirectamente o de terceros. El
      “Usuario” utilizará el “Portal y/o los “Servicios” de una manera en la que no lo dañe, inutilice, deteriore o menoscabe total o parcialmente.
  </p>
  <p>
      C) Derechos de Propiedad y obtención de “Contenidos”
  </p>
  <p>
      El “Portal” se encuentra protegido por derechos de propiedad industrial e intelectual, como compilación y trabajo colectivo conforme a las leyes de
      protección industrial e intelectual de los Estados Unidos de América, México, leyes internacionales, convenciones internacionales, y cualesquiera otras
      leyes de propiedad industrial e intelectual. El texto, archivos, fotos e imágenes son para el uso personal del “Usuario”. Sin nuestro consentimiento
      previo, el “Usuario” no podrá copiar, distribuir o transferir cualquier material del “Portal”.
  </p>
  <p>
      Salvo en los casos en que se encuentre permitido, el “Usuario” deberá abstenerse de obtener o intentar obtener informaciones, mensajes, gráficos, dibujos,
      archivos de sonido y/o imagen, fotografías, grabaciones, software y en general, cualquier clase de material accesible a través del “Portal” o de los
      “Servicios” en lo sucesivo, los “Contenidos". En los casos en que esté permitido, podrá hacer uso de los “Contenidos” empleando para ello únicamente los
      medios o procedimientos establecidos dentro de el “Portal”, o bien, haciendo uso de aquellas herramientas o medios de uso común en Internet, que aseguran
      la integridad del “Portal”, los “Servicios” y los “Contenidos”, y eliminan o disminuyen el riesgo de daños o afectaciones totales o parciales a ellos.
  </p>
  <p>
      D) Uso de los “Contenidos”
  </p>
  <p>
      El “Usuario” se obliga a usar los “Contenidos” de forma diligente, correcta, y licita, y en particular, se compromete a abstenerse de: (a) utilizar los
      “Contenidos” de forma, con fines o efectos contrarios a la ley, a la moral, las buenas costumbres o el orden público; (b) copiar, reproducir, o distribuir
      con fines de lucro los “Contenidos”, a menos que se cuente con la autorización de la “Empresa” o del titular de los correspondientes derechos o ello
      resulte legalmente permitido; (c) modificar o manipular las marcas, logotipos, avisos comerciales, nombres comerciales y signos distintivos en general de
      la “Empresa”, de el “Portal” o de las personas vinculadas directa o indirectamente con la “Empresa” (salvo que cuente con su autorización por escrito), (d)
      suprimir, eludir o modificar los “Contenidos”, así como los dispositivos técnicos de protección, o cualquier mecanismo o procedimiento establecido en el
      “Portal”.
  </p>
  <p>
      E) Uso de la Contraseña
  </p>
  <p>
      El “Usuario” se compromete a hacer un uso diligente y a mantener en secreto la(s) contraseña(s) y nombre(s) de “Usuario(s)” asignado(s) que, en su caso, se
      requieran para acceder al “Portal”, a cualquier de sus partes, a los “Servicios” y/o a los “Contenidos”.
  </p>
  <p>
      El “Usuario” será, en todo momento, responsable frente a la “Empresa” y/o las personas vinculadas a ella directa o indirectamente, de los gastos, daños y
      perjuicios ocasionados por la pérdida o mala utilización de sus contraseña(s) y/o nombre(s) de “Usuario(s)” asignado(s).
  </p>
  <p>
      F) Instrucciones
  </p>
  <p>
      El “Usuario” se compromete a leer y a seguir al pie de la letra cualquier instrucción impartida por la “Empresa” o por personal autorizado por la “Empresa”
      que se encuentre relacionado con el “Portal”, en relación con cualquier mecanismo o procedimiento establecido para usar el “Portal”, los “Contenidos” o los
      “Servicios”. En cualquier caso, la persona que diera una instrucción al “Usuario”, deberá identificarse, y comprobar su vinculación con la “Empresa” o la
      autorización de esta última para girar la instrucción correspondiente.
  </p>
  <p>
      G) Servicios Abiertos al usuario
  </p>
  <p>
      El “Usuario” se obliga a hacer uso adecuado de aquellos “Servicios” que por así convenirse, permitan a los “Usuarios” introducir “Contenidos” en el
      “Portal” y hacerlos accesibles a otros “Usuarios”, como por ejemplo: fotografías de inmuebles, nodos virtuales, links a otros Portales o Paginas Web, Chat,
      videos, links de videos, mapas, etc., en lo sucesivo “Servicios Abiertos al Usuario”. El “Usuario” deberá utilizar los “Servicios Abiertos al Usuario”
      conforme a las leyes aplicables, las buenas costumbres, el orden público, respetando totalmente los mecanismos y procedimientos establecidos para tales
      efectos en el “Portal”, y acatando al pie de la letra cualquier instrucción de la “Empresa” o de persona autorizada por ella.
  </p>
  <p>
      A partir de que el “Usuario” incumpla total o parcialmente con lo anterior, la “Empresa” podrá negar el acceso temporal o permanente al “portal”, remover
      sus anuncios y “Contenidos”, o restringirle el acceso a una o más partes o secciones del “Portal”, sin necesidad de aviso previo y sin obligación de
      reembolso alguno, ello sin perjuicio de que la “Empresa” pueda demandar al “Usuario” por las vías correspondientes.
  </p>
  <p>
      El “Usuario” se compromete a no transmitir, difundir o poner a disposición de terceros a través de “Los Servicios Abiertos al Usuario”, “Contenidos” que:
      (a) de cualquier forma contravengan cualquier normatividad aplicable, o menosprecien o atenten contra los derechos de cualquier persona; (b) induzcan,
      inciten o promuevan actuaciones delictivas, denigratorias, difamatorias, o violentas en general; (c) induzcan inciten o promuevan actuaciones, actitudes o
      ideas discriminatorias por razón de sexo, raza, religión, creencias, edad, condición social o por cualquier otra razón; (d) incorporen, pongan a
      disposición o permitan acceder productos, elementos, mensajes y/o servicios delictivos, violentos, pornográficos, degradantes o, en general, contrarios a
      cualquier normatividad aplicable o lesivos de derechos de cualquier persona, (e) induzcan o inciten a involucrarse en prácticas peligrosas por los riesgos
      que implican o nocivas para la salud física y mental; (g) sean falsos, ambiguos, inexactos, exagerados o extemporáneos de forma que puedan inducir a error
      a cualquier “Usuario” en relación con la “Empresa”, con el “Portal”, con los “Servicios”, con los “Servicios Abiertos al Usuario”, con los “Contenidos”, o
      en general sobre las intenciones o propósitos del comunicante; (h) se encuentren protegidos por cualesquiera derechos de propiedad intelectual o industrial
      pertenecientes a terceros, sin que el “Usuario” haya obtenido previamente de sus titulares la autorización necesaria para llevar acabo el uso que efectúa,
      pretende efectuar o efectúe; (i) violen los secretos industriales de terceros; (j) sean contrarios al honor, a la intimidad personal y familiar o a la
      propia imagen de las personas; (k) constituyan publicidad ilícita o engañosa o que en general constituya o promueva prácticas desleales; (m) incorporen
      virus u otros elementos físicos o electrónicos que puedan dañar o impedir el normal funcionamiento de la red, del “Portal”, del sistema o sistemas que se
      utilicen dentro o fuera del “Portal” por parte de la “Empresa”, o de cualquier “Usuario” o persona en general.
  </p>
  <p>
      El “Usuario” es el único responsable de la veracidad, exactitud, transparencia y actualización de los “Contenidos” que ingresa al “Portal” a través de los
      “Servicios Abiertos al Usuario”, por lo que en caso de hacerlo de manera inadecuada bajo cualquier aspecto, será responsable ante la “Empresa” y ante
      cualquier persona que se vea afectada por daños y/o perjuicios, de indemnizarla de acuerdo con la normatividad aplicable.
  </p>
  <p>
      La “Empresa” no asume responsabilidad alguna y de ninguna manera garantiza la precisión y veracidad de la información en cualquiera de los “Contenidos”
      publicadas en el “Portal”.
  </p>
  <p>
      Ninguna información de los “Contenidos” publicada en el “Portal” es confirmada o garantizada de manera alguna.
  </p>
  <p>
      Los “Usuarios” son responsables por la precisión de la información de sus “Contenidos”, la “Empresa” no puede y no revisa todo el contenido publicado en el
      “Portal” a través de los “Servicios abiertos al Usuario” por los “Usuarios” la “Empresa” no se hace responsables por cualquier material y “Contenido”
      publicado por los “Usuarios”. Los “Usuarios” que proveen fotos para ser utilizadas, afirman que las fotos son de su propiedad, y que ellos mismos poseen
      los derechos de publicación..
  </p>
  <p>
      Para proteger a los “Usuarios”, a terceros y sus propios intereses, la “Empresa” se reserva el derecho de revisar, modificar y/o eliminar en cualquier
      momento, sin previo aviso, de manera total o parcial, por iniciativa propia o a petición de tercero, los “Contenidos” transmitidos, difundidos o puestos a
      disposición de otros “Usuarios” en el “Portal” a través de los “Servicios Abiertos” al Usuario” y a impedir su transmisión, difusión o puesta a disposición
      en caso de que, a su juicio, resulten contrarios a cualquier normatividad aplicable, o a lo dispuesto en estos Términos y Condiciones.
  </p>
  <p>
      El “Usuario” acepta en este acto, que la información contenida dentro del “Portal” referente a inmuebles y Servicios, no constituye una oferta, sino
      solamente, un medio de información para el propio “Usuario”. Por lo anterior, por ejemplo, si el valor de un inmueble promocionado a través del “Portal”
      fuera erróneo, ello no constituye una oferta, sino solamente un dato informativo que en cualquier momento podrá aclararse al “Usuario”. El “Usuario” acepta
      también que salvo en el caso de que se le indique expresamente lo contrario, la “Empresa” es un tercero en relación tanto con la información y operaciones
      que se relacionen con los bienes inmuebles promovidos, como en la información y operaciones relacionadas con los “Servicios” incluidos los “Servicios
      Abiertos al Usuario”, por lo que no tendrá ningún tipo de obligación como comprador, vendedor, arrendador, arrendatario, permutante, y en general bajo
      cualquier figura regulada o permitida por la Ley.
  </p>
  <p>
      H) Responsabilidad por daños y perjuicios
  </p>
  <p>
      El “Usuario” deberá indemnizar inmediatamente a la “Empresa” o a cualquier persona vinculada directa o indirectamente con ella o con el “Portal”, por
      cualquier daño y/o perjuicio de cualquier naturaleza que ocasionara por incumplir estos Términos y Condiciones o cualquier normatividad aplicable.
  </p>
  <p>
      Sin perjuicio de lo establecido en el párrafo anterior, en el supuesto de que la “Empresa” fuera multada o condenada por autoridad competente a indemnizar
      a cualquier persona por un daño y/o perjuicio causado por el “Usuario”, entonces este último deberá pagar a la “Empresa” la cantidad que corresponda,
      dentro de los 15 días naturales siguientes a que se le compruebe el monto respectivo, de lo contrario, se obliga a pagar a la Empresa” por concepto de pena
      convencional por el mero retraso en el cumplimiento de la obligación, una cantidad equivalente a la suerte principal en que se hubiera afectada la
      “Empresa”.
  </p>
  <p>
      De ninguna manera la “Empresa”, sus subsidiarias, afiliadas, dueños y empleados, o cualquier persona vinculada directa o indirectamente con ella serán
      responsables por cualquier pérdida, daños indirectos, punitivos, incidentales o consecuenciales, o cualquier tipo de daño.
  </p>
  <p>
      Estas limitaciones y exclusiones aplican sin importar si los daños tienen origen en el incumplimiento de garantía, responsabilidad, incumplimiento de
      contrato, negligencia o cualquier otra causa de acción o derecho.
  </p>
  <p>
      Si el “Usuario” no está de acuerdo con estos Términos y Condiciones, o no está satisfecho con el contenido del “Portal”, el único remedio en contra de la
      “Empresa”, es el que deje de utilizarlo.
  </p>
  <p>
      La “Empresa”, el “Portal”, sus subsidiarias, afiliadas, dueños, empleados y cualquier persona vinculada directa o indirectamente con ella niegan todas las
      garantías expresas o tácitas en relación a la información, servicios, materiales y “Contenidos” en el “Portal”.
  </p>
  <p>
      El “Portal”, incluyendo todo sus “Contenidos”, software, información, “Servicios” y materiales nos son proporcionados “tal cual” y como se encontraban
      disponibles, sin garantía de ninguna clase.
  </p>
  <p>
      La “Empresa” no garantiza que las funciones contenidas en el “Portal” serán ininterrumpidas, sin errores, libres de virus u otros componentes dañinos, y
      que los defectos sean corregidos.
  </p>
  <h3>
      4. Datos de Carácter Personal
  </h3>
  <p>
      Para acceder al “Portal” y/o utilizar o gozar de algunos de los “Servicios” es necesario que el “Usuario” proporcione previamente a la “Empresa” mediante
      “El Portal” ciertos datos de carácter personal en lo sucesivo, “Datos Personales” que “La Empresa” podrá administrar automatizadamente o no. El “Usuario”
      al acceder al “Portal” o a cualquiera de los “Servicios” en que los “Datos Personales” son requeridos, está autorizando a la “Empresa” a realizar análisis
      y estudios en base a ellos, y a cederlos en cualquier momento, a cualquier persona. el “Usuario” reconoce que dicha autorización en adición a los efectos
      civiles o mercantiles que pueda conllevar, es aquella a que se refiere el artículo 109 de la Ley Federal del Derecho de Autor, publicada en el Diario
      Oficial de la Federación, el 24 de diciembre de 1996.
  </p>
  <h3>
      5.- Material Fotográfico y de Video
  </h3>
  <p>
      Al enviar o subir una fotografía o video a través del “Portal”, el “Usuario” garantiza que mantiene todos los derechos de propiedad intelectual con
      respecto a cada fotografía o video remitido, o que ha obtenido del titular del derecho intelectual, todos los derechos necesarios para que las fotografías
      o videos sean utilizados por el en el “Contenido” de su anuncio o publicación, y que éste indemnizará y sacará en paz y a salvo a La “Empresa”, sus
      subsidiarias, afiliadas, dueños y empleados, o cualquier persona vinculada directa o indirectamente con ella de cualquier causa de acción derivada de falta
      de representación o derechos con respecto a cualquiera y todas las fotografías o videos remitidss.
  </p>
  <h3>
      6.- Derecho Intelectual.
  </h3>
  <p>
      Al aceptar los presentes Términos y Condiciones, usted garantiza a la “Empresa”, al “Portal” y a nuestras afiliadas, una licencia perpetua, irrevocable,
      mundial, no exclusiva, irrestricta y gratuita, para usar, copiar, exhibir, distribuir, explotar o realizar cualquier cosa con las fotografías, videos y
      cualquier “Contenido” que usted publique en el “Portal” y usted otorga al “Portal” el derecho intelectual, la capacidad para reproducir las imágenes,
      copiarlas y reproducir completa o parcialmente las fotografías, videos y el contenido.
  </p>
  <p>
      El “Usuario” se obliga a proporcionar “Datos Personales” verdaderos y fidedignos, y en caso de que deseara no darlos en las partes del “Portal” que se
      soliciten, deberá abstenerse de usar esa o esas partes o secciones del “Portal”. En caso de que el “Usuario” diera información falsa o confusa, la
      “Empresa” podrá negarle el acceso al “Portal” y los “Servicios” contenidos dentro de él, sin perjuicio de que pueda requerirle las indemnizaciones a que
      hubiere lugar.
  </p>
  <p>
      Por el hecho de proporcionar sus “Datos Personales en el “Portal”, el “Usuario” está autorizando a la “Empresa” a dar a conocer a cualquier autoridad
      competente la información respectiva, en caso de que esta sea solicitada por los medios jurídicos adecuados.
  </p>
  <p>
      La “Empresa” procurará en todo momento tomar las medidas físicas y tecnológicas convenientes, para salvaguardar a los interesados la información incluida
      en el "Portal”, de cualquier persona que de forma ilegal pretendiera obtenerla.
  </p>
  <h3>
      7. Utilización del “Portal”, de los “Servicios” y de los “Contenidos” bajo la exclusiva responsabilidad del “Usuario”
  </h3>
  <p>
      Por el solo hecho de acceder al “Portal”, el “Usuario” reconoce y acepta que el uso del mismo, de los “Servicios”, de los “Servicios Abiertos al Usuario” y
      de cualquiera de los “Contenidos”, es bajo su exclusiva y estricta responsabilidad, por lo que la “Empresa” no será en ningún momento y bajo ninguna
      circunstancia, responsable por cualquier desperfecto o problema que se presentara en el equipo de cómputo (hardware) o programas de cómputo (software) que
      utilice el “Usuario” para acceder o navegar en cualquier parte del “Portal”.
  </p>
  <h3>
      8. Exclusión de Garantías y Responsabilidad.
  </h3>
  <p>
      A) Exclusión de garantías y de responsabilidad por el funcionamiento de “El Portal” y de “Los Servicios”
  </p>
  <p>
      B) Disponibilidad continuidad y calidad
  </p>
  <p>
      La “Empresa” no garantiza a los “Usuarios” que las funciones contenidas en el “Portal” serán ininterrumpidas, sin errores, libres de virus u otros
      componentes dañinos y que los defectos sean corregidos.
  </p>
  <p>
      Por el sólo hecho de acceder al “Portal”, el “Usuario” renuncia a su derecho de demandar a la “Empresa” por cualquier vía, por la falta de disponibilidad o
      de continuidad en el funcionamiento del “Portal” y/o de los “Servicios” incluidos y los “Servicios Abiertos al Usuario”.
  </p>
  <p>
      La “Empresa” no controla con carácter previo y no garantiza a los usuarios la ausencia de virus en los servicios prestados por terceros a través del
      “Portal”, ni de otros elementos dañosos que pudieran dañar el sistema informático (software y/o hardware) de los “Usuarios”.
  </p>
  <p>
      La “Empresa” tampoco será responsable de los “Servicios” que otras personas físicas o morales ofrecen o prestan a través del “Portal” o por razón del
      “Portal” fuera de él. En todo caso el “Usuario”, en su carácter de cliente deberá ejercitar sus acciones o hacer valer sus derechos frente al prestador o
      prestadores de servicios correspondientes.
  </p>
  <p>
      C) Utilidad
  </p>
  <p>
      “La Empresa” no garantiza que el “Portal” y los “Servicios” incluidos los “Servicios Abiertos al Usuario” sean útiles para una o más actividades o
      propósitos en particular.
  </p>
  <p>
      Por el sólo hecho de acceder al “Portal”, el “Usuario” renuncia a su derecho de demandar por cualquier vía a la “Empresa”, por el hecho de que el “Portal”
      o los “Servicios” incluidos los “Servicios Abiertos al Usuario” no cubran sus expectativas o difieran de cualquier atributo que el “Usuario” considerara
      que debieran cubrir, o bien porque no resulto parcial o totalmente de utilidad para determinados fines o propósitos del “Usuario”.
  </p>
  <p>
      Por el sólo hecho de acceder al “Portal”, el “Usuario” renuncia a su derecho de demandar por cualquier vía a la “Empresa”, por la falta de disponibilidad o
      de continuidad del funcionamiento del “Portal” y de “Los Servicios” incluidos “Los Servicios Abiertos al Usuario”.
  </p>
  <p>
      D) Fiabilidad
  </p>
  <p>
      La “Empresa” no garantiza la fiabilidad del “Portal” ni de los “Servicios”, y en particular, aunque no de modo exclusivo, que los “Usuarios” puedan
      efectivamente acceder a las distintas páginas Web que forma el “Portal” o a los distintos “Servicios” incluidos los “Servicios Abiertos” al Usuario”, o que
      a través de éstos se puedan transmitir, difundir, almacenar o poner a disposición de terceros los “Contenidos”, o recibir, obtener o acceder a los
      “Contenidos”.
  </p>
  <p>
      Por el solo hecho de acceder al “Portal”, el “Usuario” renuncia a su derecho de demandar a la “Empresa” por cualquier aspecto relacionado con lo anterior.
  </p>
  <p>
      E) Exclusión de garantías y de responsabilidad por los Contenidos
  </p>
  <p>
      F) Virus y otros elementos dañosos.
  </p>
  <p>
      La “Empresa” no controla con carácter previo y no garantiza la ausencia de virus en los “Contenidos”, ni la ausencia de otros elementos en los “Contenidos”
      que puedan producir alteraciones en el sistema informático del “Usuario” (software y/o hardware) o en los documentos electrónicos y ficheros almacenados en
      su sistema informático.
  </p>
  <p>
      Por el sólo hecho de acceder al “Portal”, el “Usuario” renuncia a su derecho de demandar por cualquier vía a la “Empresa”, por cualquier daño o perjuicio
      que sufriera en su sistema informático (software y/o hardware), por haber usado el portal y/o los “Servicios” incluidos los “Servicios Abiertos al Usuario”
      y/o los “Contenidos”, o por que éstos le hubieran transmitido un virus o cualquier otro elemento dañoso.
  </p>
  <p>
      G) Licitud, fiabilidad y utilidad de los “Contenidos”.
  </p>
  <p>
      La “Empresa” no garantiza al “Usuario” la licitud, fiabilidad y utilidad de los “Contenidos”.
  </p>
  <p>
      Por el sólo hecho de acceder al “Portal”, el “Usuario” renuncia a su derecho de demandar por cualquier vía a la “Empresa”, por cualquier daño o perjuicio
      que sufriera como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención, o acceso a los “Contenidos” y en
      particular, aunque no de modo exclusivo, por los daños y perjuicios que pudieran deberse a: (a) el incumplimiento de la normatividad aplicable como
      consecuencia de la transmisión, difusión, almacenamiento puesta a disposición recepción, obtención o acceso al los “contenidos”; (b) la infracción de los
      derechos de propiedad intelectual e industrial, de los secretos industriales, de compromisos contractuales de cualquier clase, de los derechos al honor, a
      la intimidad personal y familiar y a la imagen de la personas, de los derechos de propiedad y de toda otra naturaleza pertenecientes a un tercero como
      consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención, o acceso a los “Contenidos”; (c) la realización de
      actos de competencia desleal y publicidad ilícita como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención
      o acceso a los “Contenidos”; (d) la falta de veracidad, exactitud, exhaustividad, pertinencia y/o actualidad de los “Contenidos”; (e) el incumplimiento,
      retraso en el cumplimiento, cumplimiento defectuoso o terminación por cualquier causa de las obligaciones contraídas por terceros y contratos realizados
      con terceros a través de o con motivo del acceso al “Portal”, a los “Servicios” incluidos los “Servicios Abiertos al Usuario” y a los “Contenidos”; (f) los
      vicios y defectos de toda clase de los “Contenidos” transmitidos, difundidos, almacenados, puestos a disposición, recibidos, obtenidos o a los que se haya
      accedido a través del “Portal” o de los “Servicios” incluidos los “Servicios Abiertos al Usuario”.
  </p>
  <p>
      H) Exclusión de garantías y de responsabilidad por los servicios prestados por terceros a través de Portal
  </p>
  <p>
      I) Calidad
  </p>
  <p>
      La Empresa no controla con carácter previo y no garantiza a los usuarios la ausencia de virus en los servicios prestados por terceros a través del Portal,
      ni de otros elementos dañosos que pudieran dañar el sistema informático (software y/o hardware) de los Usuarios.
  </p>
  <p>
      La Empresa tampoco será responsable de los Servicios que otras personas físicas o morales ofrecen o prestan a través del Portal o por razón del Portal
      fuera de él. En todo caso el Usuario, en su carácter de cliente deberá ejercitar sus acciones o hacer valer sus derechos frente al prestador o prestadores
      de servicios correspondientes.
  </p>
  <p>
      J) La “Empresa” no garantiza la licitud, fiabilidad y utilidad de los “Servicios” incluidos los “Servicios Abiertos” al “Usuario”.
  </p>
  <p>
      Por el sólo hecho de acceder al “Portal”, el “Usuario” renuncia a su derecho de demandar por cualquier vía a la “Empresa”, por cualquier daño o perjuicio
      que sufriera como consecuencia de los “Servicios” que la “Empresa” o personas diversas a ella ofrecieran o prestaran a través del “Portal” o con motivo de
      él, y en particular, aunque no de modo exclusivo, por los daños y perjuicios relacionados con los “Servicios” que puedan deberse a: (a) el incumplimiento
      de la normatividad aplicable como consecuencia del ofrecimiento o prestación de “Servicios” por parte de personas diversas de la “Empresa” a través del
      “Portal” o con motivo de él; (b) la infracción de los derechos de propiedad intelectual e industrial, de los secretos industriales, de compromisos
      contractuales de cualquier clase, de los derechos al honor, a la intimidad personal y familiar y a la imagen de la personas, de los derechos de propiedad y
      de toda otra naturaleza pertenecientes a un tercero como consecuencia de los “Servicios” ofrecidos o prestados por personas diversas a la “Empresa” a
      través del “Portal” o con motivo de él; (c) la realización de actos de competencia desleal y publicidad ilícita como consecuencia del ofrecimiento o
      prestación de servicios por personas diversas de la Empresa a través del “Portal” o con motivo de él; (d) la falta de veracidad, exactitud, exhaustividad,
      pertenencia y/o actualidad de los contenidos transmitidos, difundidos, almacenados, recibidos, obtenidos, puesto a disposición o accesibles mediante o a
      través de los Servicios ofrecidos o prestados por personas diversas de la “Empresa” a través del “Portal” o con motivo de él; (e) el incumplimiento,
      retraso en el cumplimiento, cumplimiento defectuosos o terminación por cualquier causa de las obligaciones contraídas por terceros y contratos realizados
      con terceros a través de o con motivo de los “Servicios” prestados por personas diversas de la “Empresa” a través del “Portal” o con motivo de él; (f) los
      vicios y defectos de toda clase de los “Contenidos” transmitidos, difundidos, almacenados, recibidos, obtenidos o a los que se haya accedido a través de o
      por razón de los “Servicios” prestados por personas diversas a la “Empresa” a través del “Portal” o con motivo de él.
  </p>
  <p>
      K) Exclusión de garantías y de responsabilidad por los “Servicios” y “Contenidos” prestados o alojados fuera del “Portal” (Enlaces a sitios de red de
      Terceros)
  </p>
  <p>
      El “Portal” pone a disposición de los “Usuarios” dispositivos técnicos de enlace (entre otros, links o ligas entre páginas, banners, botones), directorios
      y herramientas de búsqueda que permiten a los “Usuarios” acceder a sitios Web pertenecientes a terceros en lo sucesivo "Sitios Enlazados". La instalación
      de estos enlaces, directorios y herramientas de búsqueda en el “Portal” tiene por objeto agilizar el desplazamiento del “Usuario” por Internet y
      facilitarle la búsqueda y obtención de información, por lo que no debe suponerse que necesariamente existe una alianza o asociación entre la “Empresa” y
      las personas físicas o morales a cuyos sitios se genere la liga o enlace.
  </p>
  <p>
      La “Empresa” no controla previamente, aprueba ni hace propias los servicios, información, datos, archivos, productos y cualquier clase de material
      existente en los Sitios Enlazados. El “Usuario”, por tanto debe extremar la prudencia en la valoración y utilización de los servicios, información, datos
      archivos, productos y cualquier clase de material existente en los “Sitios Enlazados”.
  </p>
  <p>
      Por el solo hecho de acceder al “Portal” el “Usuario” renuncia a su derecho de demandar a la “Empresa” por cualquier daño o perjuicio que pueda deberse a:
      (a) el funcionamiento disponibilidad, accesibilidad o continuidad de los “Sitios Enlazados”; (b) el mantenimiento de los servicios, información, datos,
      archivos, productos y cualquier clase de material existente en los “Sitios Enlazados”; (c) la prestación o transmisión de los servicios, información,
      datos, archivos, productos y cualquier clase de material existente en los “Sitios Enlazados”; (d) la calidad, licitud, fiabilidad y utilidad de los
      servicios, información , datos, archivos, productos y cualquier clase de material asistente en los “Sitios Enlazados”.
  </p>
  <p>
      L) Exclusión de garantías de responsabilidad por la utilización del “Portal”, de los “Servicios” y de los “Contenidos por los “Usuarios”
  </p>
  <p>
      La “Empresa” no garantiza el adecuado acceso ni la utilización que los “Usuarios” hacen del “Portal”, de los “Servicios” y de los “Contenidos”. En
      particular, la “Empresa” no garantiza que los “Usuarios” utilicen el “Portal”, los “Servicios” y los “Contenidos” de conformidad con la ley, con estos
      Términos y Condiciones y, en su caso, con las Condiciones Particulares que resulten aplicables.
  </p>
  <p>
      Por el solo hecho de acceder al “Portal” el “Usuario” renuncia a su derecho de demandar a la “Empresa” por cualquier daño o perjuicio que pueda deberse de
      manera directa o indirecta a la utilización que de los “Servicios” incluidos los “Servicios Abiertos al Usuario”, de los “Contenidos”, o en general de
      cualquier herramienta, función, comando o sección del “Portal” que haga uno o más “Usuarios” del “Portal”.
  </p>
  <p>
      M) Identidad e información relativa a los Usuarios proporcionada por los propios Usuarios
  </p>
  <p>
      La “Empresa” no ofrece ninguna clase de garantía sobre la identidad de los “Usuarios”, ni sobre la veracidad, vigencia, exhaustividad y/o autenticidad de
      los datos que los “Usuarios” proporcionan al “Portal” o a la “Empresa” sobre sí mismos o sobre sus bienes, ni de los que proporcionen o hagan accesibles a
      otros “Usuarios”, ni de lo “Contenidos” de sus anuncios.
  </p>
  <p>
      Por el solo hecho de acceder al “Portal” el “Usuario” renuncia a su derecho de demandar a la “Empresa” por cualquier daño o perjuicio que pueda deberse a
      la incorrecta identidad de los “Usuarios” y a la falta de veracidad, vigencia, exhaustividad y/o autenticidad de la información que los “Usuarios”
      proporcionan acerca de sí mismos o de sus bienes, ni de los “Contenidos” de sus anuncios o que proporcionan o hacen accesibles para otros “Usuarios”, y en
      particular, aunque no de forma exclusiva, por los daños y perjuicios de cualquier naturaleza que puedan deberse a la usurpación que de la identidad de otra
      persona, haga un “Usuario” o cualquier persona.
  </p>
  <h3>
      9. No Licencia.
  </h3>
  <p>
      La “Empresa” autoriza al “Usuario” a utilizar el “Portal” en los términos aquí contenidos. La “Empresa” no concede a los “Usuarios” licencia o autorización
      de ninguna clase sobre sus derechos de propiedad industrial e intelectual, secretos industriales o sobre cualquier otra propiedad o derecho relacionado con
      el “Portal”, los “Servicios” incluidos los “Servicios Abiertos al Usuario” o los “Contenidos”.
  </p>
  <p>
      En caso de que la “Empresa” tuviera conocimiento de que el “Usuario” se ha ostentado falsamente como propietario o licenciatario de uno o más derechos de
      la “Empresa” en relación directa o indirecta con el “Portal”, podrá negarle inmediatamente y de manera permanente el acceso al “Portal”. Lo anterior sin
      perjuicio de que la “Empresa” demande al “Usuario” haciendo uso de los medios legales a su alcance.
  </p>
  <h3>
      10. Denegación y Retiro del acceso del Portal y/o a los Servicios.
  </h3>
  <p>
      La “Empresa” se reserva el derecho a denegar o retirar el acceso al “Portal” y/o a los “Servicios” incluidos los “Servicios Abiertos al Usuario”, en
      cualquier momento y sin necesidad de aviso previo, por iniciativa propia o a petición de cualquier persona, a aquellos “Usuarios” que den un uso indebido
      al “Portal”, a cualquiera de sus partes o secciones o a los “Contenidos”, o que incumplan total o parcialmente estos Términos y Condiciones o la
      Condiciones Particulares que resulten aplicables.
  </p>
  <h3>
      11. Procedimiento en caso de Violación de Derechos de Propiedad Intelectual.
  </h3>
  <p>
      En el caso de que cualquier “Usuario” o un tercero considere que cualquiera de los “Contenidos” han sido introducido en el “Portal” con violación de sus
      derechos de propiedad intelectual deberá enviar una carta a la “Empresa” que contenga los siguientes elementos: (a) datos personales: nombre, dirección,
      numero de teléfono y dirección de correo electrónico del reclamante; (b) forma auténtica o equivalente, con los datos personales del titular de los
      derechos de propiedad intelectual supuestamente infringidos o de la persona autorizada conforme a derecho para actuar en nombre y por cuenta del titular de
      los derechos de propiedad intelectual supuestamente infringidos; (c) indicación precisa y completa de los “Contenidos” protegidos mediante los derechos de
      propiedad intelectual supuestamente infringidos, así como de su localización en el “Portal”; (d) declaración expresa y clara de que la introducción de los
      “Contenidos” indicados se ha realizado sin el consentimiento del titular bajo la responsabilidad del reclamante de que la información proporcionada en la
      notificación es exacta y de que la introducción de los contenidos constituye una violación de sus derechos de propiedad intelectual.
  </p>
  <p>
      Si se comprueba esta violación a los derechos el “Portal” se compromete a remover inmediatamente el material o “Contenido”.
  </p>
  <h3>
      12. Duración y Terminación.
  </h3>
  <p>
      La prestación del servicio de “Portal” y de los demás “Servicios” tiene una duración indefinida. La “Empresa” sin embargo, podrá dar por terminada,
      suspender o interrumpir en cualquier momento y sin necesidad de previo aviso, la prestación del servicios del “Portal” y/o de cualquiera de los “Servicios”
      incluidos los “Servicios Abiertos al Usuario”.
  </p>
  <h3>
      13. Ley Aplicable y Jurisdicción.
  </h3>
  <p>
      En todo lo relacionado con la interpretación y cumplimiento de lo aquí dispuesto, por el solo hecho de acceder al “Portal” los “Usuarios” aceptan someterse
      a las leyes y jurisdicción de los tribunales de México, Distrito Federal, renunciado a cualquier otro fuero que por razón de sus domicilios presentes o
      futuros, o por cualquiera otra razón pudiera corresponderles.
  </p>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script>
  $(function() {
    $( "#datepick" ).datepicker();
    $( "#datedeliv" ).datepicker();
  });
</script>
<script>
      $(function() {
            $('.galeria').galeria("#anterior", "#siguiente");
            $('.galeriatwo').galeria("#anteriortwo", "#siguientetwo");
        });
  </script>
</body>
</html>
