<main id="edit-user-cont">
  <section class="cont">
    <h1 class="title-edit-user">Editar Usuario</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="cont_fields">
        <%= f.label :email, "Correo electronico" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="cont_fields">
        <%= f.label :first_name, "Nombre" %><br />
        <%= f.text_field :first_name, autocomplete: "off"%>
      </div>

      <div class="cont_fields">
        <%= f.label :last_name, "Apellido" %><br />
        <%= f.text_field :last_name, autocomplete: "off"%>
      </div>

      <div class="cont_fields">
        <%= f.label :last_name, "Apellido" %><br />
        <%= f.text_field :last_name, autocomplete: "off"%>
      </div>

      <div class="cont_fields">
        <%= f.label :last_name, "Apellido" %><br />
        <%= f.text_field :last_name, autocomplete: "off"%>
      </div>

      <div class="cont_fields">
        <%= f.label :phone, "Telefono" %><br />
        <%= f.text_field :phone, autocomplete: "off"%>
      </div>

      <div class="cont_fields">
        <%= f.label :street, "Calle" %><br />
        <%= f.text_field :street, autocomplete: "off"%>
      </div>

      <div class="cont_fields">
        <%= f.label :colony, "Colonia" %><br />
        <%= f.text_field :colony, autocomplete: "off"%>
      </div>

      <div class="cont_fields">
        <%= f.label :postal, "Codigo Postal" %><br />
        <%= f.text_field :postal, autocomplete: "off"%>
      </div>

      <div class="cont_fields">
        <%= f.label :company, "Nombre compañia o Razon social" %><br />
        <%= f.text_field :company, autocomplete: "off"%>
      </div>

      <div class="cont_fields">
        <%= f.label :rfc, "RFC" %><br />
        <%= f.text_field :rfc, autocomplete: "off"%>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="cont_fields">
        <%= f.label :password, "Contraseña" %> <i>(Si no deseas cambiar tu contraseña dejala en blanco)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="cont_fields">
        <%= f.label :password_confirmation, "Repetir contraseña" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="cont_fields">
        <%= f.label :current_password, "Contraseña actual"%> <i>(Necesitas colocar tu contraseña actual para poder hacer cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Actualizar", :class => "submit-edit-user" %>
      </div>
    <% end %>

    <h3>Cancelar mi cuenta</h3>

    <p><%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro" }, method: :delete, :class => "submit-edit-user" %></p>

    <%= link_to :back, :class => "link-back-edit-user" do%>
      <span class="icon-reply"></span>
    <% end %>
 </section>
</main>