<main id="create-user-cont">
  <div class="alert-registration">
    <span class="ion-android-cancel close-recomend"></span>
    <h1>Recomendacion</h1>
    <p>
      Hola amigo transportista bienvenido a esta tu plataforma FleteTodo.com te recomendamos que al rigistrarte inmediatamente actualices tus datos, es muy facil ya que cuentas con pestañas de ayuda que te guiaran durante el proceso, tambien te recomendamos que permitas a la aplicacion rastrear tu ubicacion ya que esto ayudara que te encontremos viajes de manera mas preciza.  
    </p>
  </div>
  <section class="cont">
    <h1 class="title-edit-user">Registrate</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="cont_fields">
          <%= f.label :email, "Correo electronico" %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="cont_fields">
          <%= f.label :first_name, "Nombre" %><br />
          <%= f.text_field :first_name, autocomplete: "off"%>
        </div>

        <div class="cont_fields">
          <%= f.label :last_name, "Apellido" %><br />
          <%= f.text_field :last_name, autocomplete: "off"%>
        </div>
        
        <div class="cont_fields">
        <%= f.label :role, "Tipo de usuario" %><br />
          <%= f.select(:role) do %>
            <% [['Transportista', "transportista"]].each do |c| -%>
              <%= content_tag(:option, c.first, value: c.last) %>
            <% end %>
          <% end %>
        </div>



        <div class="cont_fields">
          <%= f.label :phone, "Telefono" %><br />
          <%= f.text_field :phone, autocomplete: "off"%>
        </div>

        <div class="cont_fields">
          <%= f.label :password, "Contraseña" %>
          <% if @validatable %>
          <em>(Minimo <%= @minimum_password_length %> caracteres)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="cont_fields">
          <%= f.hidden_field :avatar, :value => "default_user.png"%>
          <%= f.label :password_confirmation, "Repetir la contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Registrarme", :class => "submit-edit-user" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
</section>
</main>