<figure class="bg-registration">
	<%= image_tag("separator.png")%>
</figure>
<section id="signup">
  <div class="content">
    <figure>
      <a href="/">
        <%= image_tag "logo_noletter.png" %>
      </a>
    </figure>
    <h1>Regístrate gratis y experimenta todos los beneficios</h1>
    <hr>
    <div class="container">
      <div class="about">
        <div>
          <h2>Comienza a explorar</h2>
          <p>Registrate completamente gratis y explora las ventajas que obtendras al usar Fletetodo.
          </p>
          <p>
            Para poder disfutar de todos los beneficios que Fletetodo tiene para ti registra todos tus datos completamente y correctamente.
          </p>
        </div>
        <div>
          <h2>Transportista</h2>
          <p>
            Una vez que te hayas registrado y accedido a la plataforma, dirigete al apartado de editar perfil y llena todos los campos vacios, esto con la finalidad de poderte asignar viajes segun el perfil con el que cuentes.
          </p>
        </div>
        <div>
          <h2>Clientes</h2>
          <p>
            Una vez que te hayas registrado y accedido a la plataforma, podras registrar el servicio que requieres en el apartado de publicaciones. Te sugerimos que sea de manera correcta y lo mas completo posible.
          </p>
        </div>
      </div>
      <div class="form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="cont_fields">
        <%= f.label :role, "Tipo de usuario" %><br />
          <%= f.select(:role) do %>
            <% [['Empresa Transportista', "etransportista"],['Transportista Independiente', "transportista"],['Cliente', "cliente"]].each do |c| -%>
              <%= content_tag(:option, c.first, value: c.last) %>
            <% end %>
          <% end %>
        </div>

        <div class="cont_fields">
          <%= f.label :email, "Correo electronico" %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="cont_fields">
          <%= f.label :first_name, "Nombre" %><br />
          <%= f.text_field :first_name, autocomplete: "off"%>
        </div>

        <div class="cont_fields">
          <%= f.label :last_name, "Apellido" %><br />
          <%= f.text_field :last_name, autocomplete: "off"%>
        </div>



        <div class="cont_fields">
          <%= f.label :city, "Ciudad" %><br />
          <%= f.text_field :city_origin, autocomplete: "off", :required => true%>
        </div>

        <div class="cont_fields">
          <%= f.label :phone, "Telefono" %><br />
          <%= f.text_field :phone, autocomplete: "off"%>
        </div>

        <div class="cont_fields">
          <%= f.label :password, "Contraseña" %>
          <% if @validatable %>
          <em>(Minimo <%= @minimum_password_length %> caracteres)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="cont_fields">
          <%= f.hidden_field :avatar, :value => "default_user.png"%>
          <%= f.label :password_confirmation, "Repetir la contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Registrarme", :class => "submit-edit-user" %>
        </div>
      <% end %>
      <div class="login">
          <span>¿Ya estas registrado?</span> <%= render "users/shared/links" %>
       </div>
      </div>
    </div>

  </div>
</section>
