<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @inbox.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @inbox.message %>
</p>

<%= link_to 'Edit', edit_inbox_path(@inbox) %> |
<%= link_to 'Back', inboxes_path %>
